.projects-container
{
    padding:2rem;
    background-color: black;
    color:rgb(247, 186, 186);
}
.section-title
{
    font-style: inherit;
    font-size: xx-large;
    color:rgb(247, 186, 186);
}
.cards-wrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

}
.CardVariants
{
    flex: 1 1 calc(30% - 1.5rem); /* Adjusts card size */
    min-width: 250px;
    padding: 1.5rem;
    background: black;
    border-radius: 12px;
    border: 1px solid #e5e7eb; /* Light gray border */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
  }
  
  .project-card {
    position: absolute;
    width: 80%;
    padding: 2rem;
    background: rgb(222, 109, 109);
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
  }
  