@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
.App {
  text-align: center;
  color: #fff;
  background-color: #06021d;
  align-items: center;
  box-shadow: none;
  
  /*background: url('assets/star-bg.svg') no-repeat center center fixed;*/
  
}


.My-name {
  margin-top: 15%;
  font-size: 9rem;
  font-weight: bold;
  align-content: center;
  max-width: 100%; /* Prevent text overflow */
  word-wrap: break-word;
  
}


.My-tagline {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 26px;
  font-weight: bold;
  max-width: 100%;
}

.My-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background:rgba(73, 12, 134, 0.9);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  max-width: 100%;
}

.My-button:hover {
  background: rgba(121, 21, 211, 0.9);
}

.highlight {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply box-sizing globally */
* {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .My-name {
    font-size: 4rem;
  }

  .My-tagline {
    font-size: 1.6rem;
  }

  .My-button {
    font-size: 1rem;
    padding: 0.7rem 1.8rem;
  }
}

@media (max-width: 480px) {
  .My-name {
    font-size: 3.5rem;
  }

  .My-tagline {
    font-size: 1.4rem;
  }

  .My-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }
  .App{
    margin-bottom: 0.5rem;
  }
}
